/*---base.html---*/






/*---home.html---*/

.waves-effect.waves-light.btn-large {
    border-radius: 15px;
    height: 250px;
    width: 180px;
    padding-left: 0px;
    padding-right:0px;
    text-decoration: none;
    background-color: white;
}

.home-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}


/*---scores.html---*/
.font {
    color:red;
}




/*---add_entry.html---*/






/*---edit_entry.html---*/








